{% extends "base.html" %}


{% block title %}{{day.date}}{% endblock %}


{% block header %}
<p class="main_heading">
    Меню на {{ day.week_day }}, {{ day.date }}
</p>
<p class="product_description">
    минимальная сумма заказа на день 30₾
</p>
{% endblock %}


{% block content %}
{% for m in menu %}
<div class="product">
    <img src="../static/im_1.jpg" alt="picture" class="product_img">
    <div class="product_text">
        <p class="product_title">
            {{m.name}}
        </p>
        <p class="product_description">
            {{m.amount}}
        </p>
        <p class="product_description">
            {{m.description}}
        </p>
        <div class="extra_text_product">
            <p class="product_description">
                {{m.parametrs}}
            </p>
            <div class="product_buttons">
                <button class="add_button add_button_text" onclick="addDishToOrder({{day.date}}, {{m.category}}, 0);">
                    0
                </button>
                <button class="add_button add_button_text" onclick="addDishToOrder({{day.date}}, {{m.category}}, 1);">
                    1
                </button>
                <button class="add_button add_button_text" onclick="addDishToOrder({{day.date}}, {{m.category}}, 1.5);">
                    1,5
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}


{% block footer_extra %}
{% if prev_day %}
<a href="/day/{{prev_day}}">
    <button type="button" class="btn btn-secondary btn-lg">
        Назад
    </button>
</a>
{% endif %}

{% if next_day %}
<a href="/day/{{next_day}}">
    <button type="button" class="btn btn-secondary btn-lg">
        Вперед
    </button>
</a>
{% endif %}
{% endblock %}