{% extends "base.html" %}


{% block title %}User info{% endblock %}


{% block header %}Давайте знакомиться<br><br>{% endblock %}


{% block content %}
<div class="col-1 col-lg-4">
</div>
<div class="col-10 col-lg-4">
    <div class="card bg-light mb-3"
         style="height: 95%;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
        <div class="center-block text-center">
            <form method="Post">
                <p><b>Как Вас зовут?</b>
                    <br/>
                    <input type="text" name="name" id="name" required size="20">
                </p>
                <p><b>Телефон для связи:</b>
                    <br/>
                    <input type="tel" name="telephone" id="telephone" size="20">
                </p>
                <p><b>Адрес доставки:</b>
                    <br/>
                    <textarea
                            type="text"
                            name="address"
                            id="address"
                            cols="21"
                            rows="3"
                            required>
                    </textarea>
                </p>
                <p><b>Комментарий к заказу:</b>
                    <br/>
                    <textarea
                            type="text"
                            name="comment"
                            id="comment"
                            cols="21"
                            rows="3">
                    </textarea>
                <div>
                    <button type="submit" class="btn btn-lg btn-dark">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-1 col-lg-4">
</div>
{% endblock %}


{% block footer_make_order %}
{% endblock %}